/QRCodeMix-JavaEE/nbproject/private/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-war/nbproject/private/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-ejb/nbproject/private/
/QRCodeMix-JavaEE-ejb/dist/
/QRCodeMix-JavaEE-ejb/build/
/dist/
/build/
/QRCodeMix-JavaEE-war/build/
/QRCodeMix-JavaEE-war/dist/