/QRCodeMix/QRCodeMix-ejb/nbproject/private/
/QRCodeMix/QRCodeMix-war/nbproject/private/
/QRCodeMix/nbproject/private/
/QRCodeMix/QRCodeMix-ejb/build/
/QRCodeMix/QRCodeMix-ejb/dist/
/QRCodeMix/QRCodeMix-war/build/
/QRCodeMix/QRCodeMix-war/dist/
/QRCodeMix/build/
/QRCodeMix/dist/
/QRCodeMix-JavaEE/nbproject/private/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-war/nbproject/private/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-ejb/nbproject/private/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-ejb/dist/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-ejb/build/
/QRCodeMix-JavaEE/build/
/QRCodeMix-JavaEE/dist/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-war/build/
/QRCodeMix-JavaEE/QRCodeMix-JavaEE-war/dist/